.__autoconf_trace_data
.elibtoolized
configure
config.h.in
protocols/Makefile.in
test/Makefile.in
Makefile.am.orig
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
Makefile
config.log
config.status
config.h
stamp-h1
doc/Makefile
lib/Makefile
lib/cli++/Makefile
lib/defines.o
lib/fdbuf/Makefile
lib/mystring/Makefile
protocols/Makefile
protocols/qmqp
protocols/smtp
src/Makefile
src/mailq
src/nullmailer-dsn
src/nullmailer-inject
src/nullmailer-queue
src/nullmailer-send
src/nullmailer-smtpd
src/sendmail
test/Makefile
test/address-test
test/argparse-test
test/clitest0
test/clitest1
test/functions
lib/address.o
lib/argparse.o
lib/base64.o
lib/canonicalize.o
lib/cli++/main.o
lib/cli++/messages.o
lib/cli++/only_long.o
lib/config_path.o
lib/config_read.o
lib/config_readint.o
lib/config_readlist.o
lib/config_syserr.o
lib/defines.cc
lib/errcodes.o
lib/fdbuf/fdbuf.o
lib/fdbuf/fdbuf_copy.o
lib/fdbuf/fdibuf.o
lib/fdbuf/fdibuf_mystring.o
lib/fdbuf/fdibuf_netstring.o
lib/fdbuf/fdobuf.o
lib/fdbuf/fdobuf_chownmod.o
lib/fdbuf/fdobuf_seek.o
lib/fdbuf/fdobuf_signed.o
lib/fdbuf/fdobuf_unsigned.o
lib/fdbuf/tlsibuf.o
lib/fdbuf/tlsobuf.o
lib/forkexec.o
lib/hostname.o
lib/itoa.o
lib/makefield.o
lib/mystring/append.o
lib/mystring/assign.o
lib/mystring/count.o
lib/mystring/fdobuf.o
lib/mystring/find_first_ch.o
lib/mystring/find_first_of.o
lib/mystring/find_last_ch.o
lib/mystring/find_last_of.o
lib/mystring/iter.o
lib/mystring/join.o
lib/mystring/lower.o
lib/mystring/lstrip.o
lib/mystring/mystring.o
lib/mystring/rep.o
lib/mystring/rstrip.o
lib/mystring/strip.o
lib/mystring/sub.o
lib/mystring/subst.o
lib/mystring/upper.o
lib/netstring.o
lib/selfpipe.o
lib/setenv.o
lib/tcpconnect.o
protocols/protocol.o
protocols/qmqp.o
protocols/smtp.o
protocols/tls_gnutls.o
src/dsn.o
src/inject.o
src/mailq.o
src/queue.o
src/send.o
src/sendmail.o
src/smtpd.o
test/address-test.o
test/argparse-test.o
test/clitest0-clitest.o
test/clitest1-clitest.o
lib/cli++/libcli++.a
lib/fdbuf/libfdbuf.a
lib/libmisc.a
lib/libnullmailer.a
lib/mystring/libmystring.a
